#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Added to App.css */
.PupList {
  /* Use padding to create the border effect */
  padding: 10px;
  /* Use border-radius to round the corners */
  border-radius: 20px;
}

.PupList p {
  /* Use border to create the dark gray border */
  border: 2px solid darkgray;
  /* Use border-radius to match the parent element */
  border-radius: 10px;
  /* Use margin to create some space between the elements */
  margin: 5px;
  /* Use padding to create some space inside the elements */
  padding: 5px;
}

.PupList p:hover {
  /* Use background-color to create the highlight effect when selected */
  background-color: lightgray;
}

body {
  background-color: lightgreen;
  grid: flex;
  border: darkgreen;
}

h1 {
  text-decoration: underline;
  color: magenta;
  text-align: center;

}
